
<div class="form">
    <form class="" action="/users/update?_method=PUT" method="POST">
        <div class="sign-up">
            <h1>Edit Your Profile</h1>
            <div class="field-wrap">
                <label>
                  First Name<span class="req">*</span>
                </label>
                <input type="text" name="firstname" id="firstname" required autocomplete="off" value={{user.firstName}}>
            </div>
            <div class="field-wrap">
                <label>
                  Last Name<span class="req">*</span>
                </label>
                <input type="text" name="lastname" id="lastname" required autocomplete="off" value={{user.lastName}}>
            </div>
            <div class="field-wrap">
                <label>
                  Username<span class="req">*</span>
                </label>
                <input type="text" name="username" id="username" required autocomplete="off" value={{user.username}}>
            </div>
            <div class="field-wrap">
                <label>
                  Email<span class="req">*</span>
                </label>
                <input type="email" name="email" id="email" required autocomplete="off" value={{user.email}}>
            </div>
            <div class="field-wrap">
                <label>
                  Phone Number<span class="req">*</span>
                </label>
                <input type="phone" name="phone" id="phone" required autocomplete="off" value={{user.phone}}>
            </div>
        </div>
        <button type="submit" class="button button-block"/>Update Profile</button>
    </form>
</div>
{{!-- </body> --}}

<script src="js/login-signup.js"></script>
